# Notebook on Datetime

In [2]:
# Run this cell first to import everything we'll need.
import numpy as np
import datetime
from datascience import *

Run the block of code below. Notice how the "Date" column is not in a simple format. 

Optional: Read this link (https://www.w3schools.com/python/python_datetime.asp) for more information.

In [3]:
fullDataset = Table.read_table("Greenland_domain_mean_1979_2021_v3.csv")
fullDataset.show(5)

For this analysis, our goal is to convert the values in "Date" into the days that have passed since 1979-01-01. To start, let's look at comparing 2 known dates.

Find the number of days between the two dates below (Hint: Use the .days method to convert the timedelta datatype into ints.)

In [12]:
example1 = datetime.date(2021, 1, 1)
example2 = datetime.date(2022, 1, 1)
daysBetween = ...
daysBetween

Ellipsis

Next, write a function "cleanDates" that gives the number of days that have passed since 1979-01-01. The input will be given in the same way as the "Date" column (meaning "YYYY-MM-DD)

In [4]:
def cleanDates(inputDate):

    return ...

In [5]:
daysSinceStart = fullDataset.apply(cleanDates, 0)

daysSinceStart

array([    1,     2,     3, ..., 15704, 15705, 15706])